.body
{
	background-color: #000000;
	color: #ffffff;
	font-family: sans-serif;
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	margin: 0px;
	padding: 0px;
	text-align: left;
	vertical-align: top;
	white-space: normal;
}

.blockercontent
{
	background-color: #333333;
	border-color: #777777;
	border-radius: 15px;
	border-style: solid;
	border-width: 2px;
	bottom: 15px;
	color: #ffffff;
	padding: 15px;
	position: absolute;
	right: 15px;
}

.blockerdiv
{
	bottom: 0px;
	cursor: wait;
	display: none;
	left: 0px;
	position: fixed;
	right: 0px;
	text-align: center;
	top: 0px;
	vertical-align: middle;
}

.globaldiv
{
	bottom: 0px;
	left: 0px;
	position: fixed;
	right: 0px;
	top: 0px;
}

.mapcanvas
{
	bottom: 0px;
	height: 100%;
	left: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 0px;
	position: absolute;
	right: 0px;
	top: 0px;
	width: 100%;
}

